
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home
    style
      include style.css
  body
  section
    h1 Pug
    h3 View Engine
    ul
    each item in posts
      li
        a(href="/post/" +item.id)=item.title + " - " + item.author
        