<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <style>
      a {
        color: lightblue;
      }
      h1,
      h2,
      h3 {
        color: lightblue;
      }
    </style>
    <title>Post</title>
  </head>
  <body>
    <div>
      <h2><%= title %></h2>
      <p>by <a href="/"><%= author %></a></p>
      <p><%= body %></p>
      <hr />
    </div>
  </body>
</html>
